@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

/* General Styles */
body,
html {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
    min-height: 100vh;
    background-color: #DCDCDC;
    font-family: "Neucha", cursive;
}

/* Navbar Styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #6F9479;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #272001;
}

/* Logo Link Styling */
.logo-link {
    display: block;
    width: 150px;
    margin-left: 20px;
    border: 2px solid #272001;
    text-align: center;
    background-color: transparent;
    /* Ensure no background */
}

.logo-link img {
    max-width: 100%;
    height: auto;
}

.logo-link:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow on hover */
}

/* Button Styles */
.btn {
    border: 2px solid #272001;
    color: #DCDCDC;
    background-color: #646536;
    display: block;
    width: 90%;
    height: 5%;
    text-align: center;
    text-decoration: none;
    font-size: x-large;
    margin-left: 4%;
}

.btn.active {
    font-weight: bold;
}

.btn:hover,
.contact-form button:hover,
.signup-form button:hover,
.login-form button:hover,
.profile button:hover,
.guestprofile button:hover{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow on hover */
}


.glbtn {
    display: flex;
    flex-direction: row;
}

.contact-form button,
.signup-form button,
.login-form button {
    align-self: center;
    padding: 10px 20px;
    border-radius: 20px;
}

.add-fav {
    display: inline-block;
    padding: 5px;
    width: 40px;
    cursor: pointer;
    border: 1px solid #646536;
    background: -webkit-linear-gradient(top, #646536, #818262) #818262;
    position: relative;
    transition: all .5s ease;
    border-radius: 5%;
    box-shadow: inset 0 -1px 1px #a7a981;
}

.add-fav:hover {
    background: -webkit-linear-gradient(top, #818262, #818262) #818262;
}

.add-fav .icon-heart {
    font-size: 24px;
    color: #dad9d9;
    position: relative;
    transition: all .5s ease-in-out;
}

.add-fav input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

.add-fav input[type="checkbox"]:checked+.icon-heart {
    color: #722b43;
}

.unfavorite-btn {
    background-color: #8ab495;
    border: 2px solid #272001;
    padding: 5px;
    color: #272001;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

/* Home Page Styles */
.message {
    width: 700px;
    height: 500px;
    margin-top: 147px;
    margin-left: 550px;
    margin-bottom: 150px;
    padding: 20px 18px;
    font-size: 30px;
    background-color: #6F9479;
    border: 2px solid #272001;
    border-radius: 10px;
    color: #DCDCDC;
    text-align: center;
}

.message h1 {
    font-size: 54px;
    font-weight: bold;
}

/* Forms and Profile Styles */
.contact-form,
.signup-form,
.profile,
.guestprofile {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #6F9479;
    border: 2px solid #272001;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    color: #DCDCDC;
}

.contact-form {
    width: 650px;
    margin-top: 8.2%;
    margin-left: 590px;
    margin-bottom: 8.1%;
}

.signup-form {
    width: 400px;
    margin-top: 8.05%;
    margin-left: 690px;
    margin-bottom: 8.05%;
}

.login-form {
    width: 350px;
    height: 340px;
    margin-top: 13.99%;
    margin-left: 690px;
    margin-bottom: 14%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    font-size: large;
    background-color: #6F9479;
    border: 2px solid #272001;
    border-radius: 20px;
    color: #DCDCDC;
}

.contact-form h2,
.signup-form h2,
.login-form h2 {
    font-size: 40px;
    text-align: center;
}

.contact-form label,
.signup-form label,
.login-form label {
    display: block;
    font-size: 20px;
}

.contact-form input,
.contact-form textarea,
.signup-form input,
.login-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 14px;
    border: 2px solid #272001;
    border-radius: 20px;
    background-color: #DCDCDC;
}

.signup-form input,
.login-form input {
    width: 90%;
    margin-bottom: 10px;
}

.profile {
    width: 620px;
    height: 770px;
    margin-top: 22.5px;
    margin-left: 600px;
    margin-bottom: 22.5px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.guestprofile {
    width: 620px;
    height: 770px;
    margin-top: 22.5px;
    margin-left: 600px;
    margin-bottom: 22.5px;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile h1 {
    text-align: center;
    font-size: 40px;
}

.Settings {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-top: 240px;
    margin-left: 690px;
    margin-bottom: 236px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    font-size: large;
    background-color: #6F9479;
    border: 2px solid #272001;
    border-radius: 20px;
    color: #DCDCDC;
}

.Settings h1 {
    text-align: center;
    font-size: 42px;
}

.passwordchanger,
.usernamechanger {
    width: 200px;
    height: 190px;
    padding: 5px;
    margin-left: 25%;
}

.passwordchanger input,
.passwordchanger label,
.usernamechanger input,
.usernamechanger label {
    margin: 5px;
}

.passwordchanger button,
.usernamechanger button {
    background-color: #646536;
    color: #DCDCDC;
    border: 2px solid #272001;
    cursor: pointer;
}

.logoutbtn {
    margin-bottom: 5px;
}

/* Plant Container and Card Styles */
.plant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: calc(250px * 5 + 40px * 4);
    margin-left: 200px;
    padding: 20px;
    gap: 30px;
}

.card {
    flex: 0 1 230px;
    height: 55vh;
    text-align: center;
    justify-content: center;
    padding: 10px;
    font-size: 18px;
    background-color: #6F9479;
    border: 2px solid #272001;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 40%;
    margin-top: 10px;
}

.favorites {
    font-size: 30px;
    margin-bottom: -1%;
}

.likedplants {
    display: grid;
    grid-template-columns: 130px 130px;
    gap: 16px;
    width: 50%;
    height: 195px;
    padding: 25px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #646536;
    border: 2px solid #272001;
    overflow-y: scroll;
    overflow-x: hidden;
}

.likedplant {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: -30%;
    margin-bottom: 99%;
    font-size: 20px;
    height: 100px;
}

.likedplant img {
    margin-top: -20px;
    margin-bottom: 1px;
    width: 30%;
    height: 30%;
}

/* Garden Planner */
.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10px;
}

.grid-item {
    width: 80px;
    height: 80px;
    border: #272001 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-plant {
    max-width: 100%;
    max-height: 100%;
}

.garden-planner {
    border: #272001 2px solid;
    width: 600px;
    padding: 10px;
}

.garden-planner img {
    width: 100%;
    height: 100%;
}

.garden-planner label {
    margin-left: 10px;
}

.Gridplants {
    display: flex;
}

/* Saved Layouts */
.saved-layouts {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    margin-top: 10px;
}

.saved-layout {
    display: inline-block;
    padding: 5px;
    border: 2px solid #272001;
    background-color: #646536;
    margin-right: 10px;
}

.saved-layout:hover {
    background-color: #8e8f61;
}

/* Garden Layouts Page */
#search-bar {
    padding: 10px;
    width: 250px;
    margin-top: 5%;
    margin-left: 15%;
}

#search-button {
    padding: 10px;
    margin-left: 15%;
    margin-right: 5%;
}

#layouts-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 0fr);
    margin-top: 2%;
    margin-left: 15%;
    margin-bottom: 2%;
    gap: 15px;
}

.layout-card {
    border: #272001 2px solid;
    padding: 10px;
    width: 300px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 5px;
    background-color: #6F9479;
}

.layout-card h3,
.layout-card h4 {
    margin: 0 0 10px;
    color: #DCDCDC;
}

.grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}

.grid img {
    width: 80%;
    height: 80%;
}

.GardenLayout {
    display: grid;
    justify-content: center;
}

.Garden-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.Garden-item {
    width: 80px;
    height: 80px;
    border: #272001 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Garden-item img {
    width: 100%;
    height: 100%;
}

.Garden-item .tooltip {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 2px 5px;
    font-size: 10px;
    display: none;
}

.Garden-item:hover .tooltip {
    display: block;
}

/* Comment Section */
.comment-section {
    margin-top: 20px;
    padding-top: 10px;
}

.comment-input {
    width: 90%;
    min-height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #272001;
    border-radius: 5px;
    resize: vertical;
}

.post-comment-button {
    background-color: #646536;
    color: #DCDCDC;
    height: 50px;
    margin-bottom: 10px;
    margin-left: 23%;
}

.comments-container {
    border: 2px solid #272001;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #6F9479;
}

.comment {
    border: 2px solid #272001;
    padding: 10px;
    margin-bottom: 10px;
}

.comment h5 {
    margin: 0;
    font-size: 18px;
}

.comment p {
    margin: 5px 0 0;
}

.comment-list {
    height: 70px;
    overflow-y: scroll;
    color: #DCDCDC;
    font-size: 20px;
}

/* Partnership Styles */
.PartnershipsGrid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 0fr);
    margin-top: 2%;
    margin-right: 5.5%;
    margin-bottom: 2%;
}

.Partnerships {
    margin-top: 40px;
    margin-left: 300px;
    width: 500px;
    height: 500px;
}

/* Footer Styles */
.non-infofooter {
    margin-left: 200px;
    flex-shrink: 0;
    padding: 10px 0;
    background-color: #6F9479;
    color: white;
    border-top: 2px solid #272001;
    text-align: center;
    width: 87.99%;
    text-align: left;
}

footer {
    flex-shrink: 0;
    background-color: #6F9479;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    border-top: 2px solid #272001;
}

.non-infofooter p {
    padding-left: 5px;
}

/* Responsive Styles */
/*Style for devices between 1026px and 1218px */
@media (max-width:1218px) {

    #layouts-container {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 0fr);
        margin-top: 2%;
        margin-left: 15%;
        margin-bottom: 2%;
        gap: 1px;
    }

    .layout-card {
        border: #272001 2px solid;
        padding: 10px;
        width: 300px;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
        position: relative;
        border-radius: 5px;
        background-color: #6F9479;
    }

    .Partnerships {
        width: 250px;
        height: 250px;
    }

}

/* Styles for tablets (typically between 768px and 1024px) */
@media (max-width: 1024px) {
    .navbar {
        width: 100%;
        height: auto;
        flex-direction: row;
        position: relative;
        padding: 10px 0;
        border-right: none;
        border-bottom: #272001 2px solid;
        justify-content: center;
    }

    .navbar img {
        width: 150px;
        margin: 0 auto;
    }

    .btn {
        width: 100%;
        margin-top: 10px;
        margin-left: 0;
        text-align: center;
    }

    .message {
        width: 80%;
        padding: 10px;
        margin-left: 10%;
        font-size: 24px;
    }

    .plant-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        margin-left: 0;
        padding: 10px;
        gap: 20px;
    }

    .card {
        flex: 0 1 40%;
        height: 2.7%;
    }

    .likedplants {
        width: 50%;
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-form {
        margin-left: 80px;
    }

    .signup-form {
        margin-left: 200px;
    }

    .login-form {
        margin-left: 200px;
    }

    .guestprofile {
        margin-left: 40px;
        height: 1000px;
        width: 700px;
    }

    .profile {
        margin-left: 11%;
    }

    .Settings {
        margin-top: 50px;
        margin-left: 23%;
        margin-bottom: 50px;
        width: 350px;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .Garden-container {
        grid-template-columns: repeat(2, 0fr);
    }

    #layouts-container {
        margin-right: 56px;
    }

    .Garden-item {
        width: 80px;
        height: 80px;
    }

    .Garden-item:hover .tooltip {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 2px 5px;
        font-size: 10px;
        display: block;
    }

    .comment-section {
        padding: 10px;
        color: #DCDCDC;
        font-size: 15px;
    }

    .comment-input {
        width: 90%;
    }

    .post-comment-button {
        width: 70%;
        margin-left: 40px;
    }

    .non-infofooter {
        margin-left: -0.1%;
        flex-shrink: 0;
        padding: 10px 0;
        background-color: #6F9479;
        color: white;
        border-top: 2px solid #272001;
        text-align: center;
        width: 100%;
        text-align: left;
    }

    .PartnershipsGrid {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 0fr);
        margin-right: 60%;
        margin-bottom: 10%;
        gap: 10px;
    }

    .Partnerships {
        width: 100%;
        height: 100%;
    }
}

/* Styles for phones (typically less than 768px) */
@media (max-width: 768px) {
    .navbar {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .navbar img {
        width: 150px;
        margin: 10px 0;
    }

    .btn {
        width: 100%;
        margin: 10px 0;
        text-align: center;
    }

    .message {
        width: 80%;
        margin: 8%;
        padding: 10px;
        font-size: 18px;
    }

    .plant-container {
        max-width: 100%;
        padding: 10px;
    }

    .card {
        flex: 0 43%;
        height: 3.6%;
    }

    .likedplants {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .grid-container {
        grid-template-columns: repeat(1, 0fr);
    }

    .Garden-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .garden-planner {
        width: 100%;
    }

    .Garden-item {
        width: 80px;
        height: 80px;
    }

    .comment-section {
        padding: 10px;
    }

    .comment-input {
        width: 100%;
    }

    .post-comment-button {
        width: 100%;
    }

    .likedplants {
        width: 50%;
        grid-template-columns: repeat(1, 0fr);
        justify-content: center;
    }

    .likedplant {
        margin-top: 1%;
    }

    .contact-form {
        margin-left: 8%;
        width: 450px;
    }

    .signup-form {
        margin-left: 13%;
    }

    .login-form {
        margin-left: 15%;
    }

    .guestprofile {
        margin-left: 40px;
        height: 1000px;
        width: 480px;
    }

    .profile {
        width: 85%;
        margin-left: 5%;
    }

    .Settings {
        margin-top: 50px;
        margin-left: 20%;
        margin-bottom: 50px;
        width: 350px;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .Garden-container {
        grid-template-columns: repeat(2, 0fr);
    }

    #layouts-container {
        margin-right: 56px;
    }

    .Garden-item {
        width: 80px;
        height: 80px;
    }

    .glbtn {
        margin-left: -15%;
    }

    #search-bar {
        margin-left: 2%;
    }

    .Garden-item:hover .tooltip {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        padding: 2px 5px;
        font-size: 10px;
        display: block;
    }

    .comment-section {
        padding: 10px;
        color: #DCDCDC;
        font-size: 15px;
    }

    .comment-input {
        width: 90%;
    }

    .post-comment-button {
        width: 70%;
        margin-left: 40px;
    }

    .PartnershipsGrid {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 0fr);
        margin-right: 80%;
    }

    .Partnerships {
        width: 100%;
        height: 100%;
    }
}